:root {
    --firstColor: #FFFFFF;
    --secondColor: #001c64;
    --thirdColor: #003087;
    --fourthColor: #142C8E;
    --fifthColor: #4DC3FC;
    --sixthColor: #f9b822;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}


@media only screen and (max-width:1022px) {
    #menuBtn {
        display: flex !important;
    }

    .navbarLinks {
        display: none !important;
    }
}


/* header css start */

.headerContainer {
    background-color: var(--firstColor);
    height: 88px;
    box-shadow: 0.1px 0.1px 1px gray;
}

.logoBrand {
    height: 40px;
}

.navLink {
    border-radius: 30px;
    font-size: 18px !important;
    display: flex;
    align-items: center;
}

.navbarLinks li {
    list-style: none;
    font-weight: bold;
}

.navbarLinks li:hover ,.navLinks a:hover{
    background-color: var(--fifthColor);
    color: var(--fourthColor);
}


#navbarBtn {
    background-color: var(--thirdColor);
    color: var(--firstColor);
}

.navbarBtn {
    border: 2px solid var(--thirdColor);
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: bold;
}



#loginBtn {
    border-radius: 30px;
    background-color: var(--firstColor);
}

#signupBtn {
    border-radius: 30px;
    background-color: var(--secondColor);
    color: var(--firstColor);
}

#menuBtn {
    border-radius: 30px;
    background-color: transparent;
    font-size: 20px;
    border: none;
    display: none;
}

/* header css end */

/* main css start */

/* banner css start */

.bannerContainer{
    border: 1px solid black;
    background-color: #003087;
    height: 100vh;
    background-image:url('./images/banner.png');
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}


/* banner css start */

.bannerColLeft,.bannerColRight{
    height: 100vh;
}


.bannerColRight{
    position: relative;

}
.bannerColRight img{
    position: absolute;
    bottom: 0;
}

#bannerHeading{
    font-size: 80px;
    color: var(--firstColor);
}

#bannerLink {
    color: var(--fifthColor);
}

.bannerColLeft p {
    font-size: 14px;
    color: var(--firstColor);
    font-weight: 600;
}

.bannerQr {
    display: flex;
    align-items: center;
}

.bannerQr img {
    height: 180px;
}

.bannerForm {
    border-left: 2px solid rgba(255, 255, 255, 0.2);
}

.bannerForm p {
    width: 80%;
    color: var(--firstColor);
    font-weight: 500;
}

.bannerSignupBtn {
    background-color: var(--sixthColor) !important;
    color: black !important;
    padding: 10px 20px;
}

/* Section start */

.secLeft{
    height: 400px;
}

@media screen and (max-width:992px) {
    .secLeft{
        justify-content: center;
    }
    #iconHeading{
        font-size: 14px;
    }
    .joinSecContainer li{
        font-size: 26px !important;
        padding: 10px 20px !important; 
    }
}

.iconImages{
    padding: 10px 10px;
}
.iconImages img{
    width:100% ;
}

/* Section end */

/* join Section start */

.joinSecContainer{
    background-color: var(--secondColor);
    min-height: 313px;
    max-height: fit-content;
    width: 100%;
}

.joinSecContainer h1{
    font-size: 40px;
    color: var(--firstColor);
}

.timerSec{
    height: 196px;
}

.joinSecContainer li{
    display: inline-block;
    background-color: var(--fifthColor);
    font-size: 50px;
    padding: 2px 20px;
    border-radius: 20px;
    color: var(--firstColor);
    font-weight: bold;
}

/* join Section end */

/* main css end */

/* footer start */

.footerConatiner{
    height: 40px;
    background-color: var(--firstColor);
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    box-shadow: -0.1px -0.1px 1px gray;
}

/* footer end */